[submodule "src/bkt"]
	path = src/bkt
	url = git@github.com:zhangshd/btk.git
[submodule "src/gcmc"]
	path = src/gcmc
	url = git@github.com:zhangshd/RASPATOOLS.git
[submodule "src/SuperPSA"]
	path = src/SuperPSA
	url = git@github.com:ZG58/SuperPSA.git
