*/__pycache__/
*.pyc
*.pyo
*.pyd
*.vscode
*.git*/
*/slurm_logs*
*/optuna*.db
*perf_logs.txt
*events.out.tfevents.*
logs*
inference/*
*/inference/*
*.ipynb
*.ipynb_checkpoints
test.ipynb
*/data
*.sh
*.csv
*.ckpt
*/feature_folders
*/figures
results/
**/graphs_grids
